
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewCustomer</title>
</head>
<body>
    <div>
        <span>Name</span>
        <input type="text" />
    </div>
    <div>
        <span>Phone</span>
        <input type="text" />
    </div>
    <div>
        <partial name="UploadSection" />
    </div>
</body>
</html>
