@model MVCSession1112.Models.Employee



@section Body{
    <div>
        <span>The Employee Name</span>
        @*<span>@ViewData["Name"]</span>*@
        <span>@Model._name</span>
    </div>

    <div>
        <span>The Employee Salary</span>
        @*<span>@ViewData["Salary"]</span>*@
        <span>@Model._salary</span>
    </div>
}