

@section Body{
    <form method="post" action="saveData">
        
    <div>
        <span>Name</span>
        <input type="text" name="txt1" />
    </div>
    <div>
        <span>Salary</span>
        <input type="text" name="txt2" />
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
    </form>
    }