@model Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerInfo</title>
</head>
<body>
    <p>
        This is Logo Image
    </p>
    <img src="~/logo.png" />
</body>
</html>
