
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Ops! there is an error please try again</h2>
    <div>
        @TempData["msg"]
    </div>
</body>
</html>
