


@section Head{
    <style>
        input[type="text"] {
            height: 20px;
            width: 300px;
            background-color: #eee;
        }
    </style>
    }

@section Body{

    <div>
        <span>
            Student Name
        </span>
        <input type="text" />
    </div>
    <div>
        <span>
            Student Phone
        </span>
        <input type="text" />
    </div>
    <div>
        <span>
            Student Email
        </span>
        <input type="text" />
    </div>
    }